SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="DTB_WV8A2R", SYMLINK+="ttyDTB.WV8A2R", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="DTB_WV8A2R", SYMLINK+="ttyDTB.WV8A2R", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="a304", ATTRS{manufacturer}=="PHYWE", ATTRS{product}=="X-Ray 09057.99", SYMLINK+="ttyXR40", MODE="0666"
